body {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: x-large;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
}

.right-nav {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin-right: 2rem;
}

.right-nav li {
  padding: 0.5rem;
}

.right-nav li:hover {
  border-radius: 1rem;
  background: #60a5fa;
  text-align: center;
  cursor: pointer;
}

.list-inline li {
  display: inline;
  color: black;
}

.shop-name {
  margin-left: 1rem;
}

@media screen and (max-width: 800px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-size: small;
  }

  .navbar a {
    color: white;
    text-decoration: none;
    font-size: large;
    padding: 1rem;
  }

  .right-nav {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-right: 0.5rem;
  }
}
