.App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
}

body {
  margin-left: 0;
  padding: 0;
}

.routes {
  margin-left: 6rem;
}

@media screen and (max-width: 1007px) {
  .routes {
    margin-left: 0;
  }
}

@media screen and (max-width: 640px) {
  .routes {
    margin-left: 0;
  }
}

.grid {
  margin-left: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
  row-gap: 2rem;
  place-items: center;
  margin-top: 0;
}

@media screen and (max-width: 760px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    place-items: center;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 1450px) and (min-width: 1008px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 0rem;
    place-items: center;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 1007px) and (min-width: 761px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 0rem;
    place-items: center;
  }
}

.playlist-row {
  font-size: 2rem;
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.delete {
  cursor: pointer;
}
